[Unit]
Description=HULK
Requires=lola.service hula.service
After=lola.service hula.service

[Service]
ExecStart=/usr/bin/hulk /etc/hulk/hardware.json
TimeoutStopSec=10
CPUSchedulingPolicy=rr
CPUSchedulingPriority=1
StandardOutput=journal
Type=simple
LimitCORE=infinity

[Install]
WantedBy=default.target
